#main {
  /*background-color: #cfe8fc;*/
  height: 100vh;
}

#analyzer_canvas {
  width: 200px;
  height: 100px;
}

.draggable {
  position: absolute;
}

body {
  overflow: hidden;
}

.img-greyscale {
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);         /* Microsoft Edge and Firefox 35+ */
}